<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.karakoram">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_kara_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_kara_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".activity.BillImageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.BillDescriptionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ComplaintDescriptionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.WingMapActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ComplaintFormActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.EventDescription" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ComplaintActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FeedbackDescription" android:screenOrientation="portrait"/>
        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SignInActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.UserInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.EventFormActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.BillFormActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>